<div id="contact-us">

    <div class="row p-5">

        <div class="col-md-6 ">
            <h1 class="mb-5">Send us a message</h1>
            <input type="text" id="Name" class="form-control py-3 rounded-3 mb-2 " placeholder="Name">
            <input type="email" id="Email" class="form-control py-3 rounded-3 mb-2  " placeholder="Email">
            <input type="text" id="Services" class="form-control py-3 rounded-3 mb-2  " placeholder="Services">
            <textarea class="form-control rounded-3  mb-2" id="Message" rows="5" placeholder="Message"></textarea>
            <button class="btn d-block text-center ">Submit</button>
        </div>
        <div class="col-md-4">
            <h1 class="mb-5">Contact us easily</h1>


            <ul class="d-flex">
                <li>
                    <div class="icon me-3 mx-1 rounded-circle d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                </li>
                <li>
                    <h3>Address</h3>
                    <p>Address</p>
                </li>
            </ul>

            <ul class="d-flex ">
                <li>
                    <div class="icon mx-1  me-3 rounded-circle d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                </li>
                <li>
                    <h3>Phone</h3>
                    <p>011114928645</p>
                </li>
            </ul>

            <ul class="d-flex">
                <li>
                    <div class="icon mx-1 rounded-circle me-3 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </li>
                <li>
                    <h3>Email</h3>
                    <p>devchapter@gmail.com</p>
                </li>
            </ul>
        </div>

        <div class="col-md-2">
            <img src="../../../../assets/Group 14.png" alt="">
        </div>
    </div>
</div>