#services{
    background-image: url(/assets/Rectangle20.png);
    background-size: cover;
    background-image: center;
}

li{
    list-style: none;
}

.arrow{
    color: black;
    transform: rotate(-45deg);
}
img{
    height: 600px;
    width: 80%;
}

h1{
    font-family: "Kudryashev Display";
    font-weight: 400 ;
    font-size : 37px;
    line-height: 56px;
}
h3{
    font-weight: 800 ;
    font-size : 18px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}
p{
    font-weight: 400 ;
    font-size : 16px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}