<div id="portfolio" class="text-center py-5 gy-5 ">
    <div id="clintes" class="mb-5">
        <h1 class="mb-5">OUR Clients</h1>
        <div class="row mx-0 align-items-center justify-content-center gy-5 pt-5">
            <div class="col-lg-4 col-md-6"><img src="assets/valu (2) 1.png" alt=""></div>
            <div class="col-lg-4 col-md-6"><img src="assets/download (1) 1.png" alt=""></div>
            <div class="col-lg-4 col-md-6"><img src="assets/sml-logo 1.png" alt=""></div>
            <div class="col-lg-4 col-md-6"><img src="assets/logo 1.png" alt=""></div>
            <div class="col-lg-4 col-md-6"><img src="assets/Logo_Orascom 1.png" alt=""></div>
            <div class="col-lg-4 col-md-6"><img src="assets/newLogoBlack 1.png" alt=""></div>


        </div>
    </div>

    <div class="row mx-0  pt-5 mt-5">
        <h1>OUR Portfolio</h1>
        <p>At Double Down, we believe in showcasing our expertise through real-world success stories. </p>

        <app-small-navbar class="my-5"></app-small-navbar>

        <div class="row align-items-center justify-content-center  gy-3 px-5">
            <div class="image col-md-9 col-lg-5 clo-xl-4 ">
                <img src="assets/Rectangle 8.png" alt="">
                <div class="layer">
                    <div class="contact ">
                        <div class="icon">
                            <app-arrow-icon></app-arrow-icon>
                        </div>
                        <div class="data text-start ps-4">
                            <p>November 15,2023</p>
                            <img class="mb-2 w-50" src="assets/Annual Gala Dinner.png" alt="">
                            <h5>Join us for an elegant evening of fine dining 
                                and restaurant</h5>
                        </div>
                    </div>
                </div>

            </div>
            <div class="image col-md-9 col-lg-5 clo-xl-4 ">
                <img class="" src="assets/Rectangle 10.png" alt="">
                <div class="layer ">
                    <div class="contact">
                        <div class="icon">
                            <app-arrow-icon></app-arrow-icon>
                        </div>
                        <div class="data text-start ps-4">
                            <p>November 15,2023</p>
                            <img class="mb-2 w-50" src="assets/Annual Gala Dinner.png" alt="">
                            <h5>Join us for an elegant evening of fine dining 
                                and restaurant</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>