<div id="portfolio" class="text-center py-5 gy-5 ">
    <div id="clintes" class="mb-5">
        <h1 class="mb-5">OUR Clients</h1>
        <div class="row mx-0 align-items-center justify-content-center gy-5 pt-5">
            <div class="col-lg-4 col-md-6"><img src="assets/valu (2) 1.png" alt=""></div>
            <div class="col-lg-4 col-md-6"><img src="assets/download (1) 1.png" alt=""></div>
            <div class="col-lg-4 col-md-6"><img src="assets/sml-logo 1.png" alt=""></div>
            <div class="col-lg-4 col-md-6"><img src="assets/logo 1.png" alt=""></div>
            <div class="col-lg-4 col-md-6"><img src="assets/Logo_Orascom 1.png" alt=""></div>
            <div class="col-lg-4 col-md-6"><img src="assets/newLogoBlack 1.png" alt=""></div>


        </div>
    </div>

    <div class="row mx-0  pt-5 mt-5">
        <h1>OUR Portfolio</h1>
        <p>At Double Down, we believe in showcasing our expertise through real-world success stories. </p>

        <app-small-navbar class="my-5"></app-small-navbar>
        <div class="row mx-0 align-items-center justify-content-center px-5">
            <div class="portfolio-card  col-md-5  ">
                <div class="card border-0 rounded-2">

                    <img src="assets/Rectangle 8.png" alt="event 1" >

                    <div class="layer d-flex justify-content-between align-items-start p-3" data-bs-toggle="modal" data-bs-target="#Modal1">
                        
                            <div class=" d-flex align-items-end w-100 h-100">
                                <div class="data text-start">
                                    <p>November 15,2023</p>
                                    <img class="mb-2 w-50" src="assets/Annual Gala Dinner.png" alt="">
                                    <h5>Join us for an elegant evening of fine dining
                                        and restaurant</h5>
                                </div>
                            </div>
                            <div class="icon">
                                <app-arrow-icon></app-arrow-icon>
                            </div>
                        
                    </div>
                </div>

            </div>
              <!----- S T A R T   M O D E L   --- -->
          <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-body d-flex justify-content-center">
              <img src="assets/Rectangle 8.png" alt="">
            </div>
          </div>
        </div>
        <!----- E N D     M O D E L   --- -->

            <div class="portfolio-card   col-md-5">
                <div class="card border-0 rounded-2">

                    <img src="assets/Rectangle 10.png" alt="event 1">

                    <div class="layer d-flex justify-content-between align-items-start p-3" data-bs-toggle="modal" data-bs-target="#Modal2">
                        
                            <div class=" d-flex align-items-end w-100 h-100">
                                <div class="data text-start">
                                    <p>November 15,2023</p>
                                    <img class="mb-2 w-50" src="assets/Annual Gala Dinner.png" alt="">
                                    <h5>Join us for an elegant evening of fine dining
                                        and restaurant</h5>
                                </div>
                            </div>
                            <div class="icon">
                                <app-arrow-icon></app-arrow-icon>
                            </div>
                        
                    </div>
                </div>

            </div>

                      <!----- S T A R T   M O D E L   --- -->
          <div class="modal fade " id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
              <div class="modal-body d-flex justify-content-center">
                <img src="assets/Rectangle 10.png" alt="">
              </div>
            </div>
          </div>
          <!----- E N D     M O D E L   --- -->
        </div>
    </div>
</div>