.navbar{
    text-align: center;
}

nav .nav-link{
    color: white;
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
  margin: 0 4rem;
}

button{
  background-color: white;
}



@media screen and (max-width:767px) {
  .navbar {
    justify-content: end;
    }
    .navbar-toggler {
      margin-right: 1rem;
      }
}
