<div id="home">
    <app-main-slider class="slide"></app-main-slider>
    <div class="layer ">
        <app-navbar ></app-navbar>
        <div id="title" class="d-flex justify-content-between align-items-center px-5 text-white ">
            <div class="arrow-left">
                <app-arrow-icon></app-arrow-icon>
            </div>
            <div class="">
                <img class="mx-4" src="assets/Frame 1.png" alt="">
            </div>
            <div class="arrow-right">
                <app-arrow-icon></app-arrow-icon>
            </div>
           
        </div>
        <div class="content d-flex align-items-center ps-5 ms-5 ">
            <div class="arrow">          
                  <app-arrow-icon class="me-4 fs-5 "></app-arrow-icon>
            </div>
            <p class="fs-sm-3">Your Premier Partner for <br> Memorable Marketing and Events.</p>
        </div>
     
    </div>
    
</div>
