


  <nav class="small-navbar ">
    <ul class=" d-flex justify-content-center align-items-center start-0 end-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"  >Events</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >Videos </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >Pics</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Brand identity</a>
      </li>
      
    </ul>
  </nav>