.navbar{
    text-align: center;
}



li{
    font-weight: 800 ;
    font-size : 20px;
    font-family: "Kudryashev Display";
    font-optical-sizing: auto;
    margin: 0 1rem;
    transition: all 1s;
    list-style-type: none;


}

.nav-link:focus, .nav-link{
    transition: all 1s;

}


.nav-link:focus, .nav-link:hover {
    text-decoration: underline;
}

